Source: irssi-python
Priority: extra
Maintainer: Benjamin Staffin <benley@zoiks.net>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.8.4
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/irssi-python.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/irssi-python.git;a=summary

Package: irssi-python-dev
Section: libdevel
Architecture: any
Depends: irssi-pythonBROKEN (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: irssi-pythonBROKEN
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
